{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}


    <h1>Messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Creator_email</th>
                <th>Reply_to_id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.creatorEmail }}</td>
                <td>{{ message.replyToId }}</td>
                <td>{{ message.text }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path('active_message_edit', {'id': message.id}) }}">Select activity status of this topic</a><td>
            {% endif %}
                <td>
                    <a href="{{ path('message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_index') }}">Edit users</a>
        <a href="{{ path('active_message_index') }}">Edit active messages</a>
    {% endif %}

    <a href="{{ path('message_new') }}">Create new</a>
{% endblock %}
