{% extends 'base.html.twig' %}

{% block title %}Active/Unactive Message status{% endblock %}

{% block body %}
    <h1>ActiveMessage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message_id</th>
                <th>Is this topic closed?</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for active_message in active_messages %}
            <tr>
                <td>{{ active_message.id }}</td>
                <td>{{ active_message.messageId }}</td>
                <td>{{ active_message.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('active_message_show', {'id': active_message.id}) }}">show</a>
                    <a href="{{ path('active_message_edit', {'id': active_message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('active_message_new') }}">Create new</a>
    <a href="{{ path('message_index') }}">Back to messages</a>
{% endblock %}
